<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   
<mapper namespace="com.sist.hotel.mapper.rev-mapper">

	<select id="sumOfRate" resultType="int" parameterType="java.util.Map">
		SELECT SUM(rate)
		FROM review_board
		WHERE product_id = #{product_id}
	</select>
</mapper>
	