@CHARSET "UTF-8";

dl{
	float: left;
	height: 100%;
}

dd{
	margin-top:15px;
}
#air-search
{
  	background: #e9eff6;
}
.container_air{
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow:hidden;
	margin:30px;
	padding: 0px;
}

.container_air:HOVER{
	box-shadow: 3px 3px 3px #ccc;
}
 .airport_img{
	width: 46px;
	height: 37px;
	margin-top: 13px;
}
 .air_info{
	border: 0px solid black;
	height:100px;
	width:100%;
	padding:10px;
	background:white;
	box-sizing:border-box;
	float: left;
	text-align:center;
	
}

.blind{
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.air_img{
	border: 0px solid black;
	height: 100%;
	width:10%;
	box-sizing:border-box;
	float: left;
	
}
.air_time_port{
	border: 0px solid black;
	width:40%;
	box-sizing:border-box;
	float: left;
	height: 100%;
}

.top{
	font-size: 18px;
}

.bottom{
	font-size: 14px;
	margin-top: 5px;
	color:#647582;
}

.air_seattype{
	float: left;
	width: 20%;
	height: 100%;
	
}
.airseat_img{
	height: 50px;
	line-height: 55px;
}
.seattype{
	height: 45px;
	line-height: 25px;
	font-weight: bold;
}
.air_price{
	border: 0px solid red;
	width:30%;
	float:left;
	height:100%;
	line-height:80px;
	font-size:25px;
	box-sizing:border-box;
}

.air_detail_info{
	border: 0px solid red;
	border-radius: 10px;
	width:100%;
	background:#f3f5f7;
	float:left;
	display: none;
	
}
.detail_info{
	border: 0px solid #ccc;
	border-left: 0px;
	border-top:0px;
	box-shadow: 2px 2px 2px #ccc;
	width: 95%;
	overflow:hidden;
	margin: 20px auto;
	background: white;
	
}
.detail_font{
	font-size: 18px;
	margin-left: 10px;
	margin-top: 20px 
}
.detail_date,.detail_img,.detail_time_port
,.detail_seat_totalTime{
	border: 0px solid black;
	float: left;
	height: 60px;
	font-size: 16px;
}

.moreInfoBtn{
	background:white; 
	border-bottom:2px solid #F6CED8; 
	width: 100%; height: 100px;
	margin: 0px auto;
}
.detail_date{
	width: 20%;
}
.detail_img{
	width: 10%;
}
.detail_time_port{
	width: 50%;
}
.detail_seat_totalTime{
	width: 20%;
}