*{
    margin : 0px;
    padding : 0px;
}

a{
    text-decoration: none;
    color: black;
}
section{
    margin:auto;
}

li{
    list-style: none;
}
ul{
    overflow: hidden;
}
ul > li{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px;
    
}

ul > li > a{
    
    overflow: hidden;
    position: absolute;
    top : 0px;
    left : 0px;
    background-color: #f4f6f8;
    transition : background-color 0.5s;
}