<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     Connection
 -->
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<settings>
<setting name="jdbcTypeForNull" value="NULL"/>

</settings>
<!-- 
      (typeAliases?, 
       environments?,
       mappers?)
 -->

  <typeAliases>
      <typeAlias type="com.sist.hotel.dao.HotelVO" alias="HotelVO"/>
	  <typeAlias type="com.sist.hotel.dao.LikeVO" alias="LikeVO"/>
	  <typeAlias type="com.sist.hotel.dao.ProductRoomsVO" alias="ProductRoomsVO"/>
	  <typeAlias type="com.sist.hotel.dao.ProductRoomsAvailableVO" alias="ProductRoomsAvailableVO"/>
      <typeAlias type="com.sist.board.dao.BoardVO" alias="BoardVO"/>
      <typeAlias type="com.sist.board.dao.ReplyVO" alias="ReplyVO"/>
      <typeAlias type="com.sist.board.dao.NoticeReplyVO" alias="NoticeReplyVO"/>
      <typeAlias type="com.sist.board.dao.FreeReplyVO" alias="FreeReplyVO"/>
      <typeAlias type="com.sist.member.model.MemberVO" alias="MemberVO"/>
	  <typeAlias type="com.sist.hotel.dao.ReviewBoardVO" alias="ReviewBoardVO"/>
	  <typeAlias type="com.sist.airplane.dao.AirplaneVO" alias="AirplaneVO"/>
	  <typeAlias type="com.sist.airplane.dao.AirplaneSeatVO" alias="AirplaneSeatVO"/>
	  <typeAlias type="com.sist.airplane.dao.AirplaneTimeVO" alias="AirplaneTimeVO"/>
	  <typeAlias type="com.sist.airplane.dao.AirplaneReserveVO" alias="AirplaneReserveVO"/>
      <typeAlias type="com.sist.member.model.HotelReserveVO" alias="HotelReserveVO"/>
	  <typeAlias type="com.sist.tour.model.TourVO" alias="TourVO"/>  
      <typeAlias type="com.sist.main.model.MainFoodVO" alias="MainFoodVO"/>
      <typeAlias type="com.sist.main.model.MainHotelVO" alias="MainHotelVO"/>
      <typeAlias type="com.sist.main.model.MainTourVO" alias="MainTourVO"/>
      <typeAlias type="com.sist.attraction.vo.AttractionVO" alias="AttractionVO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
       <transactionManager type="JDBC"></transactionManager><!-- commit,rollback -->
       <!-- 
           UNPOOLED
           POOLED
        -->
       <dataSource type="POOLED"> <!-- 오라클 정보 -->
         <!-- 
               PooledDataSource p=new PooledDataSource();
               p.setDriver(value값)
               
               getConnection(p.getUrl(),p.getUsername(),p.getPassword()),disConnection()
          -->
         <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
         <property name="url" value="jdbc:oracle:thin:@211.238.142.210:1521:XE"/>
         <property name="username" value="hr"/>
         <property name="password" value="happy"/>
       </dataSource>
    </environment>
  </environments>
  <!-- 
       <!ENTITY mapper 'board-mapper.xml'>
       
       => &nbsp;
       => &mapper; => include
   -->
  <mappers>
	<mapper resource="com/sist/board/mapper/notice-mapper.xml"/>
    <mapper resource="com/sist/board/mapper/qna-mapper.xml"/>
    <mapper resource="com/sist/board/mapper/notice-reply-mapper.xml"/>
    <mapper resource="com/sist/board/mapper/free-reply-mapper.xml"/>
    <mapper resource="com/sist/board/mapper/free-mapper.xml"/>
    
    <mapper resource="com/sist/member/model/member-mapper.xml"/>
    <mapper resource="com/sist/hotel/mapper/emp-mapper.xml"/>
    <mapper resource="com/sist/hotel/mapper/rev-mapper.xml"/>
    <mapper resource="com/sist/hotel/mapper/like-mapper.xml"/>
    <mapper resource="com/sist/hotel/mapper/create-room-mapper.xml"/>
    <mapper resource="com/sist/airplane/dao/airplane-mapper.xml"/>
    <mapper resource="com/sist/member/model/member-mapper.xml"/>
    <mapper resource="com/sist/hotel/mapper/reservation-mapper.xml"/>
    <mapper resource="com/sist/tour/model/tour-mapper.xml"/>
    <mapper resource="com/sist/main/model/main-mapper.xml"/>
  </mappers>
  
</configuration>














