.recommended-hotel{
	font-size : 4rem;
	text-align : center;
	margin : 30px 0px;
	font-family: 'Do Hyeon', sans-serif;
}

.recommended-hotel span{
	width : 30px;
	height : 2px;
	background-color : #7643ea;
	display : block;
	margin : auto;
	margin-bottom : 5px;
	
}

.hotel-nav ul li select{
    height : 35px;
    width: 130px;
}