
.modal-review-wrap{
    margin:auto;
}
.modal-review-wrap li{
    list-style: none;
}
.modal-review-wrap ul{
    overflow: hidden;
}
.modal-review-wrap ul > li{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px;
    
}

.modal-review-wrap .modal-more-data{
	height : 80px;
	text-align : center;
	background-color : gray;
	line-height : 80px; 
}
.modal-review-wrap .list-modal-count{
	height : 80px;
	text-align : center;
	background-color : #f8f9fa;
	line-height : 80px; 
}
.modal-review-wrap .modal-more-data:hover{
	cursor:pointer;
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding:0px;
}

.modal-review-form{
    width : 800px;
    margin : auto;
}

.modal-review-form .top{
    width : 400px;
    margin:auto;
    font-size: 3rem;
}

.modal-review-form .star{
    overflow: hidden;
    font-size: 2rem;
}

.modal-review-form .star li{
    float: left;
    cursor: pointer;
}

.modal-review-form #review-content{
    width : 700px;
    margin-left : 10px;
    font-size: 2rem;
}

.modal-review-form .bottom{
    float: right;
    margin-right: 100px;
}
.modal-review-form .bottom input{
    width: 100px;
    height : 50px;
}